@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

$bgFeed: #1C1D26;
$sizeFeed: 50%;
$bgTweet: #F4F1F1;
$colorTweet: #000;
$font: 'Courier Prime', monospace;
$bgDanger: rgb(185, 77, 77);

h1, p, strong, span {
    font-family: $font;
}

h1, strong, p, span {
    color: #fff;
}

.search {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 50px;
    background-color: $bgFeed;
}

.search > input {
    padding: 5px;
    border-radius: 10px;
    width: 50%;
    margin: 0;
    cursor: pointer;
}

.feed,
.tweet,
.msgErreur {
    padding: 10px;
    border-radius: 10px;
}

.feed {
    margin: auto;
    width: $sizeFeed;
    background-color: $bgFeed;
}

.tweet {
    color: $colorTweet;
    background-color: $bgTweet;
    margin: 10px 0px;
}

.tweet > span,
.tweet > p {
    color: $colorTweet;
}

.msgErreur {
    background-color: $bgDanger;
}
