@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

$bgFeed: #1C1D26;
$sizeFeed: 50%;
$bgTweet: #F4F1F1;
$colorTweet: #000;
$font: 'Courier Prime', monospace;
$bgDanger: rgb(185, 77, 77);

h1, p, strong {
    font-family: $font;
}

h1, strong, p {
    color: #fff;
}

.feed,
.tweet,
.msgErreur {
    padding: 10px;
    border-radius: 10px;
}

.feed {
    margin: auto;
    width: $sizeFeed;
    background-color: $bgFeed;
}

.tweet {
    color: $colorTweet;
    background-color: $bgTweet;
}

.msgErreur {
    background-color: $bgDanger;
}
